.workplace {
  padding-bottom: 94px;
  &__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--part-text-color);
    margin-bottom: 50px;
  }

  &__img-box {
    position: relative;
  }
}

.img-bar {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  &__text {
    padding: 27px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-back-color);
  }
}
